<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.text_field :firstname, :placeholder => 'Firstname' %><br />

  <%= f.text_field :lastname, :placeholder => 'Lastname' %></div>
 
  <div><%= f.label :ticket %>
  <%= f.radio_button :ticket, 'coach class', :checked => true %> <%= f.label :ticket, 'Coach Class' %></div>
  <%= f.radio_button :ticket, 'business class', :checked => true %> <%= f.label :ticket, 'Business Class' %></div>
  <%= f.radio_button :ticket, 'first class', :checked => true %> <%= f.label :ticket, 'First Class' %></div>
 
  <div><%= f.label :movies %><br />
  <%= f.select :movies, [['Select Genre','select genre'],['Action','action'],['Comedy','comedy'],['Drama','drama'],['Horror','horror'],['Mystery','mystery'],['Sci-Fi','sci-fi']] %></div>

  <%= f.email_field :email, :placeholder => 'great@dvd.com' %><br />

  <%= f.password_field :password, :placeholder => 'Password'%><br />

  <%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %></div>

  <div><%= f.submit "Submit" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
