<h1>The Great Goat</h1>


<%= form_tag movies_path, :method => :get do %>  
  <%= text_field_tag :search %>  
  <button type="submit">Search</button>  
<% end %>  
  
<% if @movies %>  
  <!-- <p id="result-count">Your search for "<%= params[:search] %>" returned <%= pluralize @movies['matches'], 'result' %></p>   -->
  <p id="result-count">About <%= pluralize @movies['matches'], 'result' %> results (<%= pluralize @movies['search_time'], 'second' %>)</p>  
  
   <ul id="results">  
    <% @movies['results'].each do |doc| %>  
      <li>  
        <%= link_to "www.google.com" do %>
          <%= simple_format doc['text'] %>  
        <% end %>  
      </li>  
    <% end %>  
  </ul> 
<% end %> 

