<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta charset="utf-8" />

  <title>Toolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="An ORF401 Project" />
  <meta name="author" content="Solomon Abiola" /><!-- Le styles -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
/*<![CDATA[*/
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  /*]]>*/
  </style>
  <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
        <a class="brand" href="">The Great DVD</a>

        <div class="nav-collapse">
          <ul class="nav">
            <li>
            <%= link_to "Home", "#{movies_path}" %></li>

            <!-- <li><a href="#about">About</a></li> -->
          </ul><%= form_tag movies_path, :class => 'navbar-search pull-left', :method => :get do %><%= text_field_tag :search, nil, :class => 'search-query', :placeholder => 'Search for Movie Title' %><button type="submit"
          class="btn">Search</button> <% end %>

          <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    <% if @movies %>

    <p id="result-count"><%= pluralize @movies['matches'], 'result' %>
    (<%= pluralize @movies['search_time'], 'second' %>)</p>

    <table class="table table-stripped">
      <thead>
        <tr>
          <th>ID</th>

          <th>Movie Title</th>
        </tr>
      </thead>

      <tbody>
        <% @movies['results'].each do |doc| %>

        <tr>
          <td><%= simple_format doc['docid'] %></td>

          <td>
          <%= link_to "http://en.wikipedia.org/wiki/#{doc['text']}" do %><%= simple_format doc['text'] %><% end %></td>
        </tr><% end %>
      </tbody>
    </table><% end %>
  </div><!-- /container -->
  <% if @movies %>
  <div class="pagination pagination-centered">
    <ul>
      <li>
        <%= link_to "1", "#{movies_path}?&search=#{@movies['query']}&start=0" %>
      </li>
        <% page = 2 %>
        <% 1.upto((@movies['matches']/10.0).ceil - 1) do%>
          <li>
          <%= link_to "#{page}", "#{movies_path}?&search=#{@movies['query']}&start=#{page-1}0" %>
          </li>
          <% page = page + 1 %>
        <% end %>
    </ul>
  </div>
  <% end %>
  <div class="container">
  <hr>
  <footer class ="footer">
    <p>Designed and developed by Solomon Abiola <a href="http://twitter.com/eWizard2_0" target ="_blank">@eWizard2_0</p>
  </footer>
  </div>
</body>
</html>
